:root {
  --main-color: rgb(255, 113, 40);
}

.df {
  display: flex;
}

.article {
  padding: 0px 0px 60px;
  background-color: rgb(248, 248, 248);
}

.article h2 {
  padding-bottom: 15px;
  padding-top: 45px;
  color: var(--main-color);
  font-size: 22px;
  line-height: 28px;
}
.article h1,
.article h2,
.article__text p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.article h1._active,
.article h2._active,
.article__text p._active {
  transform: translateY(0);
  opacity: 1;
}

.article__inner {
  display: flex;
  flex-direction: column;
}
.article__inner img {
  float: right;
  max-width: 600px;
  padding-left: 15px;
}

.article__text {
  /* max-width: 530px; */
  padding-right: 15px;
}
.article__text p {
  line-height: 26px;
}

.article__first-par {
  max-width: 550px;
}
.article ul {
  padding-bottom: 15px;
}

.article ul li {
  padding-bottom: 5px;
}
.article header {
  /* padding-top: 10px; */
  padding-bottom: 15px;
  color: var(--main-color);
}
.article header h1 {
  font-size: 26px;
}
.article__open img {
}

.read_more-btn {
  padding-top: 40px;
  align-self: center;
  cursor: pointer;
  color: var(--main-color);
  text-decoration: underline;
}

.article__closed__text {
  padding-top: 40px;
  display: none;
}

.article-list {
  padding-top: 10px;
  padding-left: 20px;
}

.article-list__item {
  padding-bottom: 10px !important;
}
.article ul {
  list-style-type: disc;
}

@media (max-width: 1024px) {
  .article__inner img {
    float: none;
    max-width: 100%;
    padding-left: 0;
  }
  .article__first-par {
    max-width: 100%;
  }
  .article__text {
    padding-right: 0;
  }
}
